{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
  <h1 class="pt-3">Quartos Disponíveis</h1>
  <div class="row">
      {% for room in rooms %}
      <div class="col-md-4 pt-3">
          <div class="card">
              <img src="{% static room.image %}" class="card-img-top" alt="{{ room.title }}">
              <div class="card-body">
                  <span class="badge bg-primary">Preferido dos hóspedes</span>
                  <h5 class="card-title">{{ room.title }}</h5>
                  <p class="text-muted">{{ room.location }}</p>
                  <p class="text-muted">{{ room.dates }}</p>
                  <h6 class="text-muted">{{ room.price }} / noite</h6>
                  <a href="{% url 'quartos_detalhes' %}" class="btn btn-primary">Ver Detalhes</a> 
              </div>
          </div>
      </div>
      {% endfor %}
  </div>
</div>
{% endblock %}
