{% extends 'base.html' %}
{% load static %}

{% block content %}
<main class="container text-center mt-5 flex-grow-1 d-flex flex-column align-items-center justify-content-center"> 
    <div class="card p-4 shadow-lg border rounded" style="max-width: 700px;">
        <h2>Sobre o Site</h2>
        <p class="lead">
            Este site oferece uma plataforma fácil e prática para locação de quartos universitários. 
            Encontre o quarto perfeito para sua estadia acadêmica, com opções em diversas localidades. 
            Nossa missão é proporcionar conforto e praticidade para você, estudante universitário!
        </p>
        <a href="{% url 'quartos' %}" class="btn btn-primary btn-lg">Explorar Quartos</a>
    </div>
</main>
{% endblock %}
